.icon-sprite {
  width: 0;
  height: 0;
  display: none;
}

:root {
  --bg-color: hsla(223, 26%, 22%, 1);
  --the-blu: hsla(224, 90%, 68%, 1);
  --pad: 2.55rem;
  --gap: 1.5rem;
}

*::before, *, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* outline: 1px solid red; */
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
}

div.wrapper {
  width: 67rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  position: relative;
  padding: var(--pad);
}

div.wrapper > nav.left-nav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

nav.left-nav::after {
  content: "";
  position: absolute;
  background-color: #CCC;
  width: 1px;
  height: 67%;
  top: 0;
  right: 0;
}

nav.left-nav > span {
  width: 80px;
  height: 40px;
  position: relative;
}

nav.left-nav > span > svg {
  width: 100%;
  height: 100%;
  fill: #CCC;
}

nav.left-nav > span:first-of-type {
  margin-bottom: 5rem;
  padding-right: 2.5rem;
}

nav.left-nav > span:not(:first-of-type) {
  margin-bottom: 2.5rem;
  padding-right: 2.5rem;
}

nav.left-nav > span:nth-last-of-type(2)::after {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: var(--the-blu);
  top: 0;
  bottom: 0;
  right: 0;
}

nav.left-nav > span:first-of-type > svg,
nav.left-nav > span:nth-last-of-type(2) > svg {
  fill: var(--the-blu);
}

nav.left-nav > span:not(
  :first-of-type,
  :nth-last-of-type(2)
) {
  cursor: pointer;
}

nav.left-nav > span:not(
  :first-of-type,
  :nth-last-of-type(2)
)::after {
  content: "";
  width: 3px;
  height: 0;
  position: absolute;
  background-color: var(--the-blu);
  top: 50%;
  bottom: 0;
  right: 0;
  transition: top .15s, height .15s;
}

nav.left-nav > span:not(
  :first-of-type,
  :nth-last-of-type(2)
):hover::after {
  height: 100%;
  top: 0;
}

nav.left-nav > span:not(
  :first-of-type,
  :nth-last-of-type(2)
):hover > svg {
  transition: .3s ease;
  fill: var(--the-blu);
}

nav.left-nav > span:last-of-type {
  margin-bottom: 20.75rem;
}

nav.left-nav > img {
  display: block;
  width: 58px;
  margin: 8px 0;
  height: auto;
  border-radius: 50%;
  border: 3px solid var(--the-blu);
  position: absolute;
  bottom: 0;
}

div.wrapper > div.right-content {
  /* outline: 1px solid red; */
  width: 100%;
  padding: 0 1rem 0 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.right-content > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header > div > p {
  font-size: 1.425rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: gray;
}

header > div > h1 {
  font-size: 5.1rem;
  margin-top: 1.125rem;
}

header > button {
  border: 1px solid hsla(224, 90%, 68%, .5);
  outline: none;
  background-color: white;
  color: var(--the-blu);
  padding: .9rem 3.3rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  transition: border .2s ease;
}

header > button:hover {
  cursor: pointer;
  border: 1px solid var(--the-blu);
}

div.photos {
  height: 76.5%;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 280px; */
  grid-template-rows: calc((100%) / 2);
  /* grid-template-rows: repeat(2, minmax(280px, 1fr)); */
}

div.photos > div {
  border-radius: 3px;
  overflow: hidden;
  background-color: hsla(223, 26%, 22%, .5);
  background-image: var(--bckgrnd-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: box-shadow .15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.photos > div.img-2 {
  grid-column: span 2;
}


div.photos > div:hover {
  background-blend-mode: darken;
  box-shadow: 0 4px 14px -2px var(--the-blu);
}

div.photos > div > span {
  width: 38px;
  height: 38px;
  opacity: 0;
  transition: opacity .15s linear;
}

div.photos > div > span:first-of-type {
  margin-right: 16px;
}

div.photos > div > span:last-of-type {
  margin-left: 16px;
}

div.photos > div > span > svg {
  width: 100%;
  height: 100%;
  fill: rgb(225, 225, 225);
}

div.photos > div:hover > span {
  opacity: .5;
}

div.photos > div > span:hover {
  opacity: 1;
}