body{
    background: rgba(173, 196, 216, 1);
    color: black;
    height: 98.3vh;
    width: 100vh;
    font-family: 'Source Sans Pro', 'Patrick Hand', 'Klee One', 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

*{
    box-sizing: border-box;
}

.container{
    background: rgba(255, 255, 255, 1);

    height: 80vh;
    width: 550px;
    /* padding: 30px; */
}

.header{
    background: #6a96d8;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot-mark{
    display: flex;
}

.dot{
    background: #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: auto 20px auto 30px;
}

.mark{
    color: #ffffff;
    font-size: 1.4em;
    line-height: 1rem;
    font-weight: 650;
    letter-spacing: 2px;
}

.close{
    height: 3rem;
    margin: auto 30px;
    opacity: 50%;
}

.close:hover{
    opacity: 100%;
    transition: .25s;
}

.today{
    text-align: center;
}

h2 {
    width: 90%; 
    text-align: center; 
    border-bottom: 2px solid black; 
    font-size: 1.5rem;
    line-height: .05rem;
    margin: 35px 30px 30px 30px; 
    opacity: 20%;
 } 
 
 h2 span { 
     background:#ffffff; 
     padding: 0 15px; 
 }

 .hi-time{
     margin-left: 40px;
     opacity: .2;
 }

/* #left-time{
    display: flex;
    justify-content: flex-start;
} */

 .chat-box1{
     background: #e6edf6;
     width: 350px;
     height: 78px;
     margin-left: 40px;
     border-radius: 7px;
     position: relative;
 }

 .chat-box1::before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
	bottom: auto;
	border: 22px solid;
	border-color: #e6edf6 transparent transparent transparent;
} 

/* .chat-box1::after{
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #e6edf6 transparent transparent transparent;
} */

.hi-mark{
    max-width: 300px;
    padding: 20px 20px;
 }

#chat-time-2{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

 .chat-box2{
    background: #f2f2f2;
    width: 350px;
    height: 78px;
    border-radius: 7px;
    position: relative;
    margin-right: 40px;
}
/* 
.chat-box2:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0;
	bottom: auto;
	border: 20px solid;
	border-color: #f2f2f2 transparent transparent transparent;
} */

.chat-box2:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    top: 0;
	right: -20px;
	bottom: auto;
	border: 20px solid;
	border-color: #f2f2f2 transparent transparent transparent;
}

.yo{
    max-width: 290px;
    margin: 20px 20px;
}

.chat-box3{
    background: #e6edf6;
    width: 120px;
    height: 60px;
    margin-left: 40px;
    border-radius: 7px;
    position: relative;
}

.chat-box3::before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
	bottom: auto;
	border: 22px solid;
	border-color: #e6edf6 transparent transparent transparent;
} 

.but{
    max-width: 350px;
    padding: 20px 20px;
}

.blocked-notif{
    background: #ffc2c1;
    height: 60px;
    width: 275px;
    border-radius: 7px;
    margin-right: 40px;
}

.you{
    text-align: center;
    margin-top: 20px;
}

hr{
    width: 90%;
    height: 2px;
    background: black;
    opacity: 20%;
    border: none;
    margin-top: 20px;
}

.enter{
    display: flex;

}

#input{
    background-color: transparent;
    height: 80px;
    width: 400px;
    margin: 0 27.5px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    bottom: 0;
    resize: none;
    /* overflow: hidden; */
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    opacity: 25%;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    opacity: 25%;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    opacity: 30%;
}   
::placeholder{
    color: black;
    opacity: 50%;
    font-size: 1.75rem;
    margin: 12px;
}

.right-chat{    
    display: flex;
    justify-content: flex-end;
}


.send > h1{
    color: #819dd9;
}