*::before, *, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

body {
    min-height: 100vh;
    background-color: hsla(204, 64%, 44%, 1);
    font-family: "Roboto", sans-serif;
    display: grid;
    place-items: center;
}

body > div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper > div {
    margin: 0 2rem;
}